dist: xenial
language: java
sudo: false
jdk: openjdk17
install: true
addons:
  sonarcloud:
    organization: $SONAR_ORGANIZATION
    token: $SONAR_TOKEN
script:
  - java --version
  - ./mvnw clean install
  #- ./mvnw test
  - mvnw clean package sonar:sonar -P sonar
cache:
  directories:
    - $HOME/.m2
    - $HOME/.sonar/cache
